@import "styles/settings/__settings";

.sectionTitle {
  color: $color-gray-600;
  font-weight: normal;
  padding-bottom: 1em;
  border-bottom: solid 1px $color-gray-100;
  margin-top: 0;
  margin-bottom: 3.5em;
}
