@import "styles/settings/__settings";

.center {
  text-align: center;
}

.errorCode {
  color: $color-gray-500;
  font-size: 1.5em;
  margin: -0.2em 0 0.8em;
}

.errorMessage {
  max-width: 40em;
  margin: 1.2em auto;
}

.errorRefresh {
  font-size: 0.8em;
  margin-top: 3em;
}
