@import "styles/settings/__settings";

.postMetadata {
  text-align: center;
  justify-content: center;
}

.postFooter {
  text-align: center;
}

.postModified {
  color: $color-gray-400;
  font-style: italic;
}
