@import "styles/settings/__settings";

@import "styles/components/_title";
@import "styles/components/_card";

.description {
  text-align: center;
  line-height: 1.5;
  font-size: 1.5rem;
}

.posts {

  list-style: none;
  padding-left: 0;
  margin: -1rem 0;

}