@import "styles/settings/__settings";

@import "styles/components/_title";

.content {
  font-size: 1.5rem;

  h2,
  h3,
  h4,
  p,
  ul {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
