@import "styles/settings/__settings";

.content {
  font-size: 1.5rem;

  h2,
  h3,
  h4,
  p,
  ul {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    display: block;
    margin: 0 auto;
  }
}
