$color-gray-50: #eef0f3;
$color-gray-100: #cfd7de;
$color-gray-200: #b1bdca;
$color-gray-300: #93a3b5;
$color-gray-400: #7589a0;
$color-gray-500: #5c7086;
$color-gray-600: #475768;
$color-gray-700: #333e4a;
$color-gray-800: #1e242b;
$color-gray-900: #090b0d;

$color-blue-50: #f3f8ff;
$color-blue-100: #c0ddff;
$color-blue-200: #8dc1ff;
$color-blue-300: #5aa6ff;
$color-blue-400: #278bff;
$color-blue-500: #0070f3;
$color-blue-600: #0059c0;
$color-blue-700: #00418d;
$color-blue-800: #002a5a;
$color-blue-900: #001227;

$color-primary: $color-blue-500;
