@use "sass:math";
@import "styles/settings/__settings";

.featuredImage {
  margin: 0 0 2em;

  div {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: percentage(math.div(400, 960));
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 0;
    padding: 0;
    margin: auto;
  }
}
