@use "sass:math";
@import "styles/settings/__settings";

.featuredImage {

  display: block;
  overflow: hidden;
  position: relative;
  aspect-ratio: 960 /400;
  margin: 0 0 2em;

  img {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 0;
    padding: 0;
    margin: auto;
  }
  
}
