@use "styles/settings/__settings" as *;

.image {
  div {
    overflow: hidden;
    margin: 0;
  }

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-top: 0;
    }
  }
}
