@import "styles/settings/__settings";

.nav {
  
  width: 100%;
  border-bottom: 1px solid $color-gray-100;
  padding: 0 1rem;

  // Requires greater specificity

  .navSection {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }

}

.navSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  @media (min-width: 480px) {
    justify-content: space-between;
    flex-direction: row;
  }
}

.navName {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 1;
  margin: 0.8em 0 0;

  @media (min-width: 480px) {
    justify-content: flex-start;
    margin-top: 0;
  }

  a {
    color: $color-gray-500;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border-bottom: solid 2px transparent;

    @media (min-width: 480px) {
      padding: 0.5em;
      margin-left: -0.5em;
    }

    &:hover {
      color: $color-primary;
    }
  }
}

.navSearch {
  flex-grow: 0;
  margin-left: 1em;
}

.navMenu {
  display: flex;
  align-items: center;
  flex-grow: 0;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    position: relative;
    z-index: 1;
    margin: 0 0.25em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      & > a {
        color: $color-primary;
      }

      > .navSubMenu {
        display: block;
      }
    }

    & > .navSubMenu {
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      padding: 0.5em 0.8em;
    }

    .navSubMenu {
      ul {
        top: 0;
        left: 100%;
      }
    }
  }

  a {
    display: block;
    text-decoration: none;
    color: $color-gray-600;
    font-size: 1.1em;
    padding: 0.5em;

    @media (hover: hover) {
      &:hover {
        color: $color-primary;
      }
    }
  }

  .navSubMenu {
    display: none;
    position: absolute;
    white-space: nowrap;
    list-style: none;
    background-color: #fff;
    padding: 0;

    li {
      background-color: white;
      margin: 0;

      a {
        font-size: 1rem;
        padding: 0.3em;
      }
    }
  }
}
